.post {
    background-color: #fafad2;
    border: 2px solid #101046;
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

.post .info{
    display: block;
}

.post .info .author{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    width: 15%;
    text-align: center;
    color: #C71585;
}

.post .info .content{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    width: 70%;
    color: #191970;
}

.post .date_menu {
    display: inline-block;
    font-size: 12px;
    width: 95%;
}

.post .date_menu .date{
    font-size: 12px;
    display: inline-block;
    text-align: right;
    color: #C71585;
    width: 50%;
}

.post .date_menu .menu{
    display: inline-block;
    text-align: left;
    width: 45%;
}


