.thread {
    background-color: #fafad2;
    border: 2px solid #101046;
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

.thread .author{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    width: 10%;
}

.thread .title{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    width: 60%;
}

.thread .update {
    margin: 5px;
    display: inline-block;
    width: 10%;
}

.thread .delete{
    margin: 5px;
    display: inline-block;
    width: 10%;
}

