.topic .author{
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    width: 10%;
    text-align: center;
    color: #C71585;
}

.topic .title{
    font-size: 18px;
    margin: 5px;
    display: inline-block;
    width: 60%;
    color: #191970;
}

.topic .update {
    margin: 5px;
    display: inline-block;
    width: 10%;
}

.topic .delete{
    margin: 5px;
    display: inline-block;
    width: 10%;
}

