<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Forum</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/topicandpost.css">
</head>
<body>

<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
<div class="topic">
    <div th:text="'Temat: ' + ${topic.topicTitle}"></div>
</div>
<div th:each="post : ${postsOfTopicId}" class="post">
    <div th:text="${post.authorPost}" class="authorPost"></div>
    <div th:text="${post.contextPost}" class="contextPost"></div>
    <div th:text="${post.dateCreation}" class="dateCreation"></div>
        <a th:if="${admin}" th:href="@{/forum/topic/post/delete/{idTopic}/{idPost}(idTopic=${topic.idTopic}, idPost=${post.idPost})}" class="button">Usuń post</a>
</div>
<div th:if="${logged}">
    <form method="post">
        <input type="textarea" name="contextPost" id="contextPost" class="textarea" placeholder="Treść posta...">
        <input type="submit" value="Dodaj post" class="button">
    </form>
</div>
</div>
</body>
</html>