<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Forum</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <div th:each="post : ${postsByThreadId}" class="topic">
            <div th:text="${post.user.login}"></div>
            <div th:text="${post.content}"></div>
    </div>
</div>
</body>
</html>