<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music Forum</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/post.css">
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <div th:each="post : ${postsByThreadId}" class="topic">
            <div th:text="${post.user.login}" class="author"></div>
            <div th:text="${post.content}" class="content"></div>
    </div>
    <div th:if="${logged}">
        <form method="post">
            <input type="text" name="post" id="post" class="input" placeholder="Treść" th:field="*{postModel.content}">
            <input type="submit" value="Dodaj Post" class="button">
        </form>
    </div>
</div>
</body>
</html>